@use './theme.scss' as *;

@font-face {
  font-family: 'NotoSans';
  src: url(./assets/Noto_Sans_KR/NotoSansKR-Black.otf);
}
body {
  line-height: 1.5;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.section {
  background-color: var(--black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  z-index: 0;
  opacity: 1;
  .container {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
.section_title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  @extend .padd_15;
  h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
  }
  h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
  }
  h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }
}
.main_content {
  padding-left: 270px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  border: none;
  display: inline-block;
  white-space: nowrap;
  background-color: var(--skin-color);
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.padd_15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
//! aside 부분
.aside {
  width: 270px;
  background-color: var(--black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-right: 1px solid var(--black-50);
  .nav_toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--black-100);
    // !나중에 다시 올꺼임 길웅
    display: none;
    align-items: center;
    span {
      height: 2px;
      width: 18px;
      background-color: var(--skin-color);
      display: inline-block;
      position: relative;
      margin: 0 auto;
    }
    span::before {
      content: '';
      height: 2px;
      width: 18px;
      background-color: var(--skin-color);
      position: absolute;
      top: -6px;
      left: 0;
    }
    span::after {
      content: '';
      height: 2px;
      width: 18px;
      background-color: var(--skin-color);
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
}
.logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
  a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
  }
  a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: -10px;
    left: 0;
  }
  a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
  }
}
.nav {
  margin-top: 50px;
  li {
    margin-bottom: 20px;
    display: block;
    padding: 5px 15px;
    border-bottom: 1px solid var(--black-50);
    div {
      border: 0;
      background-color: transparent;
      font-size: 16px;
      font-weight: 600;
    }
    .active {
      color: var(--skin-color);
    }
    a {
      color: var(--text-black-700);
    }
  }
}

// ! 여기는 home
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
  .home_info {
    flex: 0 0 60%;
    max-width: 60%;
    p {
      margin-bottom: 70px;
      font-size: 20px;
      color: var(--text-black-700);
    }
  }
  .img_border {
    overflow-x: hidden;
  }
  .img_border::before {
    content: '';
    position: absolute;
    left: -20px;
    right: -40px;
    top: -40px;
    height: 80px;
    width: 80px;
    border-left: 10px solid var(--skin-color);
    border-top: 10px solid var(--skin-color);
  }
  .img_border::after {
    content: '';
    position: absolute;
    right: -40px;
    height: 80px;
    bottom: -40px;
    width: 80px;
    border-right: 10px solid var(--skin-color);
    border-bottom: 10px solid var(--skin-color);
  }
  .home_img {
    @extend .padd_15;
    flex: 0 0 40%;
    max-width: 34%;
    text-align: center;
    position: relative;
    // overflow-x: hidden;
    img {
      height: 400px;
      margin: auto;
    }
  }
}

.hello {
  font-size: 28px;
  margin: 15px 0;
  span {
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
  }
}
.my_profession {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}

//! about 시작점
.about {
  .about_content {
    flex: 0 0 100%;
    max-width: 100%;
    @extend .padd_15;
  }
  .about_text {
    flex: 0 0 100%;
    max-width: 90%;
    @extend .padd_15;
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 700;
      color: var(--text-black-900);
    }
    span {
      color: var(--skin-color);
    }
    p {
      margin-top: 30px;
      font-size: 16px;
      line-height: 25px;
      color: var(--text-black-700);
    }
  }
  .personal_info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
    @extend .padd_15;
    .info_item {
      @extend .padd_15;
      flex: 0 0 100%;
      max-width: 70%;
    }
    a {
      color: var(--text-black-900);
    }
    p {
      font-weight: 600;
      padding: 10px 0;
      font-size: 16px;
      color: var(--text-black-900);
      border-bottom: 1px solid var(--black-50);
    }
    span {
      font-weight: 400;
      color: var(--text-black-700);
      margin-left: 4px;
      display: inline-block;
    }
    img {
      margin-left: 30px;
      max-width: 30px;
    }
  }
  .skills {
    @extend .padd_15;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 40px;
    color: var(--text-black-700);
  }
  .skills_item {
    display: flex;
    flex-direction: row;
    .skillImg {
      max-width: 40px;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}
// ! 여기는 project
.project_heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
  h2 {
    color: var(--text-black-900);
    font-weight: 500;
  }
}
.project {
  .container {
    padding-bottom: 40px;
  }
}
.project_item {
  max-width: 33.33%;
  margin-bottom: 30px;
  flex: 0 0 33.33%;
}
.project_item_inner {
  border: 6px solid var(--black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.project_imgSrc {
  max-width: 100%;
  display: block;
}
.project_card {
  width: 90%;
  height: 300px;
  color: var(--text-black-900);
  h2 {
    margin-bottom: 20px;
  }
}

.project_content {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: var(--text-black-900);
  img {
    margin-bottom: 10px;
    width: 100%;
  }
  span {
    margin-top: 0px;
  }
  p,
  a {
    font-weight: lighter;
    margin: 4px 0;
    color: var(--text-black-900);
  }
}
.project_leftSide {
  width: 60%;
  div {
    margin-bottom: 10px;
  }
}
.project_rightSide {
  padding-left: 40px;
  width: 40%;
  p {
    margin-bottom: 30px;
    font-weight: 500;
  }
  span {
    color: var(--skin-color);
    font-weight: bold;
  }
}
.swiper {
  width: 90%;
  height: 400px;
}

//! 토글 스위치
.switch_toggler {
  position: fixed;
  top: 40px;
  right: 30px;
  transition: all 0.5s ease;
}
.light_toggler {
  display: flex;
  justify-content: flex-end;
}
.darkMode {
  cursor: pointer;
  font-size: 24px;
}
.lightMode {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.theme_toggler {
  margin-top: 10px;
  font-size: 20px;
  color: var(--text-black-900);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.gear {
  animation: rotating 2s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.theme_colors {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  position: absolute;
  top: 60px;
  right: 0px;
}
.toggleOn {
  right: 0px;
  animation: fadeIn ease-in-out 1s;
}
.toggleOff {
  right: -140px;
  animation: fadeOut ease-in-out 1s;
}

@keyframes fadeIn {
  0% {
    right: -140px;
  }
  100% {
    right: 0px;
  }
}

@keyframes fadeOut {
  0% {
    right: 0px;
  }
  100% {
    right: -140px;
  }
}
.themeCircle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 0 4px;
}
.beige {
  background-color: #cdb891;
}
.blue {
  background-color: #1854b4;
}
.orange {
  background-color: #fa5b0f;
}
.green {
  background-color: #37b182;
}

//! 미디어쿼리
@media (max-width: 1199px) {
  .aside {
    left: -270px;
  }
  .main_content {
    padding-left: 0;
  }
  .info_item {
    span {
      display: block;
      margin-left: 0;
    }
  }
  .home_info {
    margin-left: 10px;
  }
  .personal_info {
    flex: 0 0 40%;
  }
}
@media (max-width: 991px) {
  .home_info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home_img {
    display: none;
  }
  .project_item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .project_card {
    h2 {
      padding-left: 12px;
    }
  }
  .project_content {
    flex-direction: column;
    margin: 0 auto;
    padding-left: 12px;
  }
  .project_leftSide {
    width: 100%;
    height: auto;
    span {
      margin-bottom: 10px;
    }
  }
  .project_rightSide {
    margin-top: 30px;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .project_item,
  .skills,
  .personal_info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .skillRow {
    flex-direction: column;
  }
}
.nothing {
  cursor: auto;
  width: 199px;
  height: 199px;
  padding: 100px;
}
