$black900: #fdfdfd;
$black100: #fdf9ff;
$black50: #e8dfec;
$text-black-900: #302e4d;
$text-black-700: #504e70;

$dark_black900: #151515;
$dark_black100: #222222;
$dark_black50: #393939;
$dark_text-black-900: #ffffff;
$dark_text-black-700: #e9e9e9;

$skin-color-red: #ec1839;
$skin-color-blue: #1854b4;
$skin-color-orange: #fa5b0f;
$skin-color-green: #37b182;
$skin-color-beige: #cdb891;

html[data-themeColor='red'] {
  --skin-color: #{$skin-color-red};
}
html[data-themeColor='blue'] {
  --skin-color: #{$skin-color-blue};
}
html[data-themeColor='orange'] {
  --skin-color: #{$skin-color-orange};
}
html[data-themeColor='green'] {
  --skin-color: #{$skin-color-green};
}
html[data-themeColor='beige'] {
  --skin-color: #{$skin-color-beige};
}
html[data-theme='light'] {
  --black-900: #{$black900};
  --black-100: #{$black100};
  --black-50: #{$black50};
  --text-black-900: #{$text-black-900};
  --text-black-700: #{$text-black-700};
}
html[data-theme='dark'] {
  --black-900: #{$dark_black900};
  --black-100: #{$dark_black100};
  --black-50: #{$dark_black50};
  --text-black-900: #{$dark_text-black-900};
  --text-black-700: #{$dark_text-black-700};
}
